.html body{

margin:0 0;
padding:0 0:

}

.header{

height:60px;
background-color:#ff2600;
line-height: 60px;
padding: 20px;
margin:0px;

}

#name h1{

margin:0px;

}



#menu ul li{
    display: inline;
    margin-left:20px;
    list-style-type:none;
    margin-right:0px:
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    
}

a{
    text-decoration:none;
    color:black;
    font-size:25px;
}



.content{

width:70%;
float:left;
min-height:500px;
background-color: darkgrey;
}

.sidebar
{
    
width:30%;
background-color: #efefef;
min-height:500px;
float:right;

}


.blog1{

border: solid grey 2px;
margin: 5px;
background-color: #fff;
padding:10px;
border-radius: 5px;
min-height:250px;

}

img{
    margin-right:25px
   

}


.blog2{
    
    border: solid grey 2px;
    margin: 5px;
    background-color: #fff;
    padding:10px;
    border-radius: 5px;
    
    
}.blog3{
    
    border: solid grey 2px;
    margin: 5px;
    background-color: #fff;
    padding:10px;
    border-radius: 5px;
    
}


